body{
    background-color: black;
    color :white
}

.navbar{
    display: flex;
    list-style-type: none;
}

.navbar li a {
    padding :10px;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.alert{
    background-color: indigo;
    color: white;
    border-radius: 20px;
}

.alert-header{
    background-color: blueviolet;
    padding: 10px;
    color: white;
}